services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:29092"
    volumes:
      - kafka-data:/var/lib/kafka/data

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: rtm
      POSTGRES_PASSWORD: rtm
      POSTGRES_DB: rtm
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  kafdrop:
    image: obsidiandynamics/kafdrop
    depends_on:
      - kafka
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:29092"

  grafana:
    image: grafana/grafana:10.4.2
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  producer:
    build: ./producer
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP: "kafka:29092"
      KAFKA_TOPIC: "metrics"

  consumer:
    build: ./consumer
    depends_on:
      - kafka
      - postgres
    environment:
      KAFKA_BOOTSTRAP: "kafka:29092"
      KAFKA_TOPIC: "metrics"
      PG_DSN: "dbname=rtm user=rtm password=rtm host=postgres port=5432"

  flink-job:
    build: ./flink-job
    depends_on:
      - kafka
      - postgres
    environment:
      KAFKA_BOOTSTRAP: "kafka:29092"
      PG_URL: "jdbc:postgresql://postgres:5432/rtm"
      PG_USER: "rtm"
      PG_PASS: "rtm"

volumes:
  pgdata:
  kafka-data:
